@font-face {
    font-family: 'Lora';
    src: url(../font/Lora.ttf);
} 

@font-face {
    font-family: 'Nunito';
    src: url(../font/Nunito.ttf);
} 

@font-face {
    font-family: 'Gerhaus';
    src: url(../font/Gerhaus.ttf);
}
