$color-primary: #FBCE74;
$color-secondary: #EB5757;
$color-white: #fff;
$color-black: #0A0A0A;
$color-text: #898989;
$color-icon: #69F666;

$font-lora: 'Lora', sans-serif;
$font-nunito: 'Nunito', sans-serif;
$font-gerhaus: 'Gerhaus', sans-serif;