.production-card {
    color: $color-black;
    font-family: $font-nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;


    &__header {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        > p {
            color: $color-primary;
            font-size: 18px;
            font-weight: 500;
        }
    }

    &__title {
        display: flex;
        align-items: center;
        gap: 8px;
        flex-shrink: 0;

        > h3 {
            
            font-size: 18px;
            font-weight: 400;
        }

        > p {
            color: $color-text;
            font-size: 16px;
            font-weight: 300;
        }
    }

    &__info {
        display: flex;
        align-items: flex-start;
        gap: 8px;

        > p {
            color: $color-text;
            font-weight: 500;
        }

        >p:last-child {
            color: $color-text;
        }
    }

}

@media ( max-width: 360px ) {
    .production-card {
        font-size: 14px;
        
        &__header {
            > p {
                font-size: 14px;  

            }
        }
        
        &__title {
            > h3 {
                font-size: 16px;
            }

            > p {
                font-size: 14px;
            }
        }
    }
}