@charset "UTF-8";
.advantages-section {
  padding: 130px;
  font-style: normal;
  line-height: normal;
}
.advantages-section__header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.advantages-section__header > h2 {
  width: 80%;
  color: #0A0A0A;
  padding-bottom: 20px;
  font-size: 36px;
  font-weight: 500;
  font-family: "Lora", sans-serif;
  margin-bottom: 30px;
}
.advantages-section__header > h2:hover {
  color: #FBCE74;
}
.advantages-section__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}
.advantages-section__container-card {
  padding: 20px;
  text-align: center;
  box-shadow: 2px 2px 6px 0px rgba(10, 10, 10, 0.2);
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  cursor: pointer;
  height: 170px;
  width: 340px;
}
.advantages-section__container-card > p:first-child {
  margin: 0 auto 8px auto;
  color: var(--Red, #EB5757);
  background: rgba(235, 87, 87, 0.2);
  max-width: 33px;
  font-size: 24px;
}
.advantages-section__container-card > p:nth-child(2) {
  font-weight: 700;
}
.advantages-section__container-card > p:last-child {
  font-weight: 300;
}
.advantages-section__container-card:hover {
  border: 1px solid #FBCE74;
  box-shadow: none;
}
.advantages-section__container-card:hover > p:first-child {
  background: rgba(251, 206, 116, 0.2);
  color: #FBCE74;
}

@media (min-width: 768px) and (max-width: 1280px) {
  .advantages-section {
    padding: 130px 50px;
  }
}
@media (max-width: 1150px) {
  .advantages-section__container {
    flex-wrap: wrap;
  }
  .advantages-section__container-card {
    flex-grow: 1;
    flex-basis: 390px;
    height: 210px;
    width: 100%;
  }
}
@media (max-width: 900px) {
  .advantages-section__container-card {
    flex-basis: 350px;
  }
}
@media (max-width: 820px) {
  .advantages-section__container-card {
    flex-basis: 330px;
  }
}
@media (max-width: 780px) {
  .advantages-section__container-card {
    flex-basis: 310px;
  }
}
@media (min-width: 360px) and (max-width: 768px) {
  .advantages-section {
    padding: 100px 30px;
  }
  .advantages-section__header > h2 {
    font-size: 32px;
  }
  .advantages-section__container-card {
    flex-basis: 250px;
  }
}
@media (max-width: 360px) {
  .advantages-section {
    padding: 100px 20px;
  }
  .advantages-section__header > h2 {
    font-size: 26px;
  }
  .advantages-section__container {
    flex-direction: column;
  }
  .advantages-section__container-card {
    width: 100%;
    height: auto;
    flex-basis: auto;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contacts-section {
  display: flex;
  justify-content: start;
  align-items: center;
  background-image: url("../img/map.png");
  background-size: 100%;
}
.contacts-section__container {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 130px;
  gap: 30px;
  margin: 10%;
  width: 20%;
}
.contacts-section__header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.contacts-section__header > h2 {
  width: 80%;
  color: #0A0A0A;
  font-size: 36px;
  font-weight: 500;
  font-family: "Lora", sans-serif;
}
.contacts-section__header > h2:hover {
  color: #FBCE74;
}
.contacts-section__info {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  background-color: #0A0A0A;
}
.contacts-section__info-item {
  width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
}
.contacts-section__info-item p {
  color: #FFF;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: normal;
}
.contacts-section__info-item p:first-child {
  font-weight: 500;
}

.cook-section__header {
  padding: 130px 130px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.cook-section__header > h2 {
  width: 80%;
  color: #0A0A0A;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-bottom: 20px;
  font-family: "Lora", sans-serif;
}
.cook-section__header > h2:hover {
  color: #FBCE74;
}
.cook-section__media {
  overflow: hidden;
  display: block;
  height: 600px;
}
.cook-section__media #bread {
  position: relative;
  top: -1800px;
  left: -400px;
}

@media (min-width: 768px) and (max-width: 1280px) {
  .cook-section__header {
    padding: 130px 50px 0;
  }
}
@media (min-width: 360px) and (max-width: 768px) {
  .cook-section__header {
    padding: 100px 30px 0;
  }
  .cook-section__header > h2 {
    font-size: 32px;
  }
  .cook-section__media {
    width: 100%;
    overflow: hidden;
    display: block;
    height: 480px;
  }
  .cook-section__media #bread {
    width: 100%;
    height: auto;
    position: relative;
    top: -490px;
    left: 0px;
  }
}
@media (max-width: 360px) {
  .cook-section__header {
    padding: 100px 20px 0;
  }
  .cook-section__header > h2 {
    width: 100%;
    font-size: 26px;
  }
  .cook-section__media {
    width: 100%;
    overflow: hidden;
    display: block;
    height: 360px;
  }
  .cook-section__media #bread {
    width: 100%;
    height: auto;
    position: relative;
    top: -190px;
    left: 0px;
  }
}
.dialog {
  /* Изначально скрыто*/
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* Чтобы клики "не проходили" сквозь невидимую модалку */
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.dialog__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  pointer-events: none;
}
.dialog__content {
  position: relative;
  z-index: 1;
  max-width: 90%;
  background-color: #fff;
  padding: 80px;
}
.dialog__content > p {
  color: #0A0A0A;
  font-family: Nunito;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.dialog__close {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
  text-decoration: none;
  color: #333;
}

@media (max-width: 360px) {
  .dialog__content {
    padding: 30px;
  }
  .dialog__content > p {
    text-align: center;
    font-size: 16px;
  }
}
.dialog-toggle {
  pointer-events: all;
  opacity: 1;
}

@font-face {
  font-family: "Lora";
  src: url(../font/Lora.ttf);
}
@font-face {
  font-family: "Nunito";
  src: url(../font/Nunito.ttf);
}
@font-face {
  font-family: "Gerhaus";
  src: url(../font/Gerhaus.ttf);
}
.footer {
  display: flex;
  min-width: 100%;
  padding: 30px 130px;
  justify-content: space-between;
  align-items: center;
  background-color: #0A0A0A;
  z-index: 1;
}
.footer__logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer__logo img {
  width: 23px;
  height: px;
  flex-shrink: 0;
}
.footer__logo p {
  color: #FBCE74;
  font-family: "Gerhaus", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer__nav {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0;
  gap: 30px;
  flex-direction: row;
  list-style: none;
}
.footer__nav-item {
  color: #fff;
  font-family: "Nunito", sans-serif;
}
.footer__nav-item > a {
  text-decoration: none;
  color: #fff;
}
.footer__nav-item > a:hover {
  color: #FBCE74;
}
.footer__link > div:first-child {
  display: none;
}
.footer__link > div:last-child {
  display: flex;
  padding: 8px 40px;
  align-items: center;
  gap: 30px;
}
.footer__link-vk {
  width: 31px;
  height: 17px;
  flex-shrink: 0;
  background-image: url(../img/vk.svg);
}
.footer__link-vk:hover {
  background-image: url(../img/vk-hover.svg);
}
.footer__link-inst {
  width: 22.5px;
  height: 22.5px;
  flex-shrink: 0;
  background-image: url(../img/inst.svg);
}
.footer__link-inst:hover {
  background-image: url(../img/inst-hover.svg);
}

@media (min-width: 768px) and (max-width: 1280px) {
  .footer {
    padding: 30px 50px;
  }
}
@media (max-width: 1120px) {
  .footer__nav {
    gap: 20px;
    font-size: 15px;
  }
  .footer__link > div:last-child {
    padding: 8px 0;
  }
}
@media (max-width: 996px) {
  .footer__nav {
    gap: 10px;
  }
  .footer__link > div:last-child {
    padding: 8px 0;
  }
}
@media (min-width: 360px) and (max-width: 910px) {
  .footer {
    padding: 30px;
  }
  .footer__logo {
    display: none;
  }
  .footer__nav {
    flex-direction: column;
  }
  .footer__link {
    display: flex;
    align-self: self-start;
    flex-direction: column;
    gap: 30px;
  }
  .footer__link > div:first-child {
    display: flex;
    padding: 0;
  }
  .footer__link > div:last-child {
    display: flex;
    flex-direction: row;
    padding: 0;
    gap: 30px;
  }
}
@media (max-width: 360px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;
  }
  .footer__nav {
    flex-direction: column;
  }
  .footer__link {
    padding: 8px 0;
  }
}
.hamburger-menu .box_checked {
  left: 0 !important;
}
.hamburger-menu .span_id2_checked {
  transform: rotate(45deg);
  top: 0px !important;
}
.hamburger-menu .span_id3_checked {
  top: 0px !important;
  transform: rotate(-45deg);
}
.hamburger-menu .span_id1_checked {
  top: 0px !important;
  transform: rotate(45deg);
}
.hamburger-menu__checkbox {
  opacity: 0;
  position: absolute;
  top: 37px;
  right: 20px;
}
.hamburger-menu__btn {
  position: absolute;
  top: 37px;
  right: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.hamburger-menu__btn > #i2,
.hamburger-menu__btn > #i3,
.hamburger-menu__btn > #i1 {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition-duration: 0.25s;
}
.hamburger-menu__btn > #i3 {
  top: 8px;
}
.hamburger-menu__btn > #i1 {
  top: -8px;
}
.hamburger-menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #fff;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
}
.hamburger-menu__box-logo {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  flex-direction: row;
}
.hamburger-menu__box-logo img {
  width: 23px;
  height: 23px;
  flex-shrink: 0;
}
.hamburger-menu__box-logo p {
  color: #FBCE74;
  font-family: "Gerhaus", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.hamburger-menu__box-item {
  text-align: center;
  display: block;
  padding: 12px 24px;
  color: #0A0A0A;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.25s;
}
.hamburger-menu__box-item:hover {
  color: #FBCE74;
}
.hamburger-menu__box-icon {
  width: 120px;
  height: 120px;
  position: relative;
  right: -75vw;
  top: 48%;
}
.hamburger-menu__box-icon__ecology {
  height: 100%;
  border: 2px solid #FBCE74;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hamburger-menu__box-icon__ecology > img {
  width: 44px;
}
.hamburger-menu__box-icon__ecology > p {
  font-family: "Lora", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #FBCE74;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.hamburger-menu__box-icon__ecology:hover {
  border: 2px solid #69F666;
}
.hamburger-menu__box-icon__ecology:hover > img {
  content: url("../img/mdi_ecology_green.svg");
}
.hamburger-menu__box-icon__ecology:hover > p {
  color: #69F666;
}

@media (min-width: 950px) {
  .hamburger-menu__btn {
    display: none;
  }
  .hamburger-menu__box {
    display: none;
  }
}
@media (min-width: 360px) and (max-width: 468px) {
  .hamburger-menu__box-icon {
    right: -67vw;
  }
}
@media (max-width: 360px) {
  .hamburger-menu__btn {
    height: 30px;
  }
  .hamburger-menu__box-icon {
    right: -60vw;
  }
}
.header {
  display: flex;
  min-width: 100%;
  position: absolute;
  padding: 20px 130px;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
.header__logo {
  display: flex;
  flex-direction: row;
}
.header__logo img {
  width: 23px;
  height: 23px;
  flex-shrink: 0;
}
.header__logo p {
  color: #FBCE74;
  font-family: "Gerhaus", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header__nav {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0;
  gap: 30px;
  flex-direction: row;
  list-style: none;
}
.header__nav-item {
  color: #fff;
  font-family: "Nunito", sans-serif;
}
.header__nav-item > a {
  text-decoration: none;
  color: #fff;
}
.header__nav-item > a:hover {
  color: #FBCE74;
}
.header__link {
  display: flex;
  gap: 30px;
}
.header__link-button {
  display: flex;
  padding: 8px 40px;
  align-items: flex-start;
  gap: 10px;
  border: 1px solid #fff;
}
.header__link-button > a {
  text-decoration: none;
  color: #fff;
}
.header__link-button:hover {
  border: 1px solid #FBCE74;
  background: #FBCE74;
}

@media (max-width: 1120px) {
  .header__nav {
    gap: 20px;
    font-size: 15px;
  }
}
@media (max-width: 996px) {
  .header__nav {
    gap: 10px;
  }
}
@media (min-width: 768px) and (max-width: 1280px) {
  .header {
    padding: 20px 0 20px 50px;
  }
}
@media (min-width: 360px) and (max-width: 950px) {
  .header {
    padding: 20px 30px;
  }
  .header__nav {
    display: none;
  }
}
@media (max-width: 360px) {
  .header {
    padding: 20px 20px;
  }
  .header__nav {
    display: none;
  }
  .header__link-button {
    display: none;
  }
}
.hero-main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero-main__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.hero-main__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.hero-main__title {
  color: #fff;
  text-align: center;
  font-family: "Lora", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.hero-main__title > span {
  color: #FBCE74;
}
.hero-main__subtitle {
  color: #fff;
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.hero-main__button {
  display: flex;
  padding: 12px 57px;
  align-items: flex-start;
  background-color: #FBCE74;
  border: none;
  font-size: 14px;
  font-family: "Nunito", sans-serif;
}
.hero-main__button > a {
  text-decoration: none;
  color: #fff;
}
.hero-main__button:hover {
  background-color: #0A0A0A;
}

@media (min-width: 360px) and (max-width: 768px) {
  .hero-main__title {
    font-size: 40px;
  }
}
@media (max-width: 360px) {
  .hero-main__title {
    font-size: 26px;
  }
}
.icon {
  width: 120px;
  height: 120px;
  position: relative;
  right: -90%;
  top: -191px;
}
.icon__fire {
  height: 100%;
  border: 2px solid #EB5757;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.icon__fire > img {
  width: 44px;
}
.icon__fire > p {
  font-family: "Lora", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #EB5757;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.icon__fire:hover {
  border: 2px solid #FBCE74;
}
.icon__fire:hover > img {
  content: url("../img/mdi_fire_yellow.svg");
}
.icon__fire:hover > p {
  color: #FBCE74;
}
.icon__ecology {
  height: 100%;
  border: 2px solid #FBCE74;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.icon__ecology > img {
  width: 44px;
}
.icon__ecology > p {
  font-family: "Lora", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #FBCE74;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.icon__ecology:hover {
  border: 2px solid #69F666;
}
.icon__ecology:hover > img {
  content: url("../img/mdi_ecology_green.svg");
}
.icon__ecology:hover > p {
  color: #69F666;
}

@media (min-width: 360px) and (max-width: 768px) {
  .icon {
    width: 100px;
    height: 100px;
    right: -75%;
    top: -153px;
  }
}
@media (max-width: 360px) {
  .icon {
    width: 100px;
    height: 100px;
    right: -65%;
    top: -153px;
  }
}
.offers-card {
  color: #fff;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.offers-card__header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.offers-card__header > p {
  color: #FBCE74;
  font-size: 18px;
  font-weight: 500;
}
.offers-card__title {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
}
.offers-card__title > h3 {
  font-size: 18px;
  font-weight: 400;
}
.offers-card__title > p {
  color: #898989;
  font-size: 16px;
  font-weight: 300;
}
.offers-card__price {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}
.offers-card__price > p:first-child {
  text-decoration: line-through;
}
.offers-card__price > p:last-child {
  color: #EB5757;
}
.offers-card__info {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}
.offers-card__info > p {
  color: #898989;
  font-weight: 500;
}
.offers-card__info > p:last-child {
  color: #898989;
}

@media (max-width: 360px) {
  .offers-card {
    font-size: 14px;
  }
  .offers-card__header > p {
    font-size: 14px;
  }
  .offers-card__title {
    flex-direction: column;
    align-items: flex-start;
  }
  .offers-card__title > h3 {
    font-size: 16px;
  }
  .offers-card__title > p {
    font-size: 14px;
  }
  .offers-card__price {
    flex-direction: column;
  }
}
.offers-section {
  padding: 130px;
  background-color: #0A0A0A;
}
.offers-section__header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.offers-section__header > h2 {
  width: 80%;
  color: #EB5757;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-bottom: 30px;
  font-family: "Lora", sans-serif;
}
.offers-section__header > h2 > span {
  color: #fff;
}
.offers-section__header > h2 > span:hover {
  color: #FBCE74;
}
.offers-section__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.offers-section__item {
  display: flex;
  width: 100%;
  padding: 20px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  border-bottom: 1px dashed #898989;
}
.offers-section__item:first-child {
  border-top: 1px dashed #898989;
}

@media (min-width: 768px) and (max-width: 1280px) {
  .offers-section {
    padding: 130px 50px;
  }
}
@media (min-width: 360px) and (max-width: 768px) {
  .offers-section {
    padding: 100px 30px;
  }
  .offers-section__header > h2 {
    font-size: 32px;
    padding-bottom: 20px;
  }
}
@media (max-width: 360px) {
  .offers-section {
    padding: 100px 20px;
  }
  .offers-section__header > h2 {
    font-size: 26px;
    width: 100%;
    padding-bottom: 13px;
  }
}
.order-section {
  margin: 0 130px 40px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  border-top: 1px dashed #FBCE74;
  color: #0A0A0A;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  line-height: normal;
}
.order-section__header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.order-section__header > h2 {
  width: 80%;
  color: #FBCE74;
  font-size: 36px;
  font-weight: 500;
  font-family: "Lora", sans-serif;
}
.order-section__header > h2 > span {
  color: #0A0A0A;
}
.order-section__header > h2 > span:hover {
  color: #FBCE74;
}
.order-section__header > p {
  padding-bottom: 21px;
  margin: 30px 0;
  color: #0A0A0A;
  font-size: 18px;
  font-weight: 500;
}
.order-section__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.order-section__container-input {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}
.order-section__container-input label {
  font-size: 16px;
  font-weight: 300;
}
.order-section__container-input input[type=text],
.order-section__container-input input[type=tel] {
  width: 100%;
  padding: 12px;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 2px;
  border: 1px solid #F5F5F5;
  background: #FFF;
  box-shadow: 2px 2px 6px 0px rgba(10, 10, 10, 0.2);
  color: #0A0A0A;
  font-size: 16px;
  font-weight: 300;
}
.order-section__container-input input[type=text]:focus,
.order-section__container-input input[type=tel]:focus {
  outline: 2px solid #FBCE74;
  box-shadow: none;
}
.order-section__button {
  display: flex;
  padding: 12px 57px;
  margin-top: 40px;
  align-items: flex-start;
  background-color: #FBCE74;
  width: 180px;
  border: none;
  font-size: 14px;
  font-family: "Nunito", sans-serif;
  color: #fff;
}
.order-section__button:hover {
  background-color: #0A0A0A;
}

@media (min-width: 768px) and (max-width: 1280px) {
  .order-section {
    margin: 0 50px 40px;
  }
}
@media (min-width: 360px) and (max-width: 768px) {
  .order-section {
    margin: 0 30px 40px;
  }
  .order-section__header > h2 {
    font-size: 32px;
  }
  .order-section__container {
    align-items: stretch;
  }
  .order-section__container-input {
    justify-content: space-between;
  }
}
@media (max-width: 360px) {
  .order-section {
    margin: 0 20px 30px;
  }
  .order-section__header > h2 {
    font-size: 26px;
  }
  .order-section__container {
    flex-direction: column;
    width: 100%;
  }
  .order-section__container-input {
    width: 100%;
  }
}
.production-card {
  color: #0A0A0A;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.production-card__header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.production-card__header > p {
  color: #FBCE74;
  font-size: 18px;
  font-weight: 500;
}
.production-card__title {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
}
.production-card__title > h3 {
  font-size: 18px;
  font-weight: 400;
}
.production-card__title > p {
  color: #898989;
  font-size: 16px;
  font-weight: 300;
}
.production-card__info {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}
.production-card__info > p {
  color: #898989;
  font-weight: 500;
}
.production-card__info > p:last-child {
  color: #898989;
}

@media (max-width: 360px) {
  .production-card {
    font-size: 14px;
  }
  .production-card__header > p {
    font-size: 14px;
  }
  .production-card__title > h3 {
    font-size: 16px;
  }
  .production-card__title > p {
    font-size: 14px;
  }
}
.production-section {
  padding: 130px;
}
.production-section__header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.production-section__header > h2 {
  width: 80%;
  color: #0A0A0A;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-bottom: 30px;
  font-family: "Lora", sans-serif;
}
.production-section__header > h2:hover {
  color: #FBCE74;
}
.production-section__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.production-section__item {
  display: flex;
  width: 100%;
  padding: 20px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  border-bottom: 1px dashed #898989;
}
.production-section__item:first-child {
  border-top: 1px dashed #898989;
}

@media (min-width: 768px) and (max-width: 1280px) {
  .production-section {
    padding: 130px 50px;
  }
}
@media (min-width: 360px) and (max-width: 768px) {
  .production-section {
    padding: 100px 30px;
  }
  .production-section__header > h2 {
    font-size: 32px;
    padding-bottom: 20px;
  }
}
@media (max-width: 360px) {
  .production-section {
    padding: 100px 20px;
  }
  .production-section__header > h2 {
    font-size: 26px;
    padding-bottom: 13px;
  }
}
.review-section {
  margin: 0 130px 130px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  border-top: 1px dashed #FBCE74;
  color: #0A0A0A;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  line-height: normal;
}
.review-section__header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.review-section__header > h2 {
  width: 80%;
  color: #0A0A0A;
  font-size: 36px;
  font-weight: 500;
  font-family: "Lora", sans-serif;
}
.review-section__header > h2:hover {
  color: #FBCE74;
}
.review-section__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 30px 0 40px;
  gap: 30px;
}
.review-section__container-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}
.review-section__container-input label {
  font-size: 16px;
  font-weight: 300;
}
.review-section__container-input textarea[type=text] {
  width: 100%;
  height: 100px;
  resize: none;
  padding: 12px;
  flex-shrink: 0;
  border-radius: 2px;
  border: 1px solid #F5F5F5;
  background: #FFF;
  box-shadow: 2px 2px 6px 0px rgba(10, 10, 10, 0.2);
  font-family: "Nunito", sans-serif;
  color: #898989;
  font-size: 16px;
  font-weight: 300;
}
.review-section__container-input textarea[type=text]:focus {
  outline: 2px solid #FBCE74;
  box-shadow: none;
}
.review-section__container-rating {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
.review-section__container-rating-radio {
  display: block;
}
.review-section__container-rating-radio > input {
  visibility: hidden;
  position: absolute;
}
.review-section__container-rating-radio > input + div { /* DIV STYLES */
  display: flex;
  padding: 8px;
  min-width: 97px;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  border-radius: 2px;
  border: 1px solid #F5F5F5;
  background: #FFF;
  box-shadow: 2px 2px 6px 0px rgba(10, 10, 10, 0.2);
}
.review-section__container-rating-radio > input + div:hover {
  border: 1px solid #FBCE74;
}
.review-section__container-rating-radio > input + div img {
  width: 40px;
  height: 40px;
}
.review-section__container-rating-radio > input + div p {
  font-size: 16px;
  font-weight: 300;
}
.review-section__container-rating-radio > input:checked + div {
  border: 2px solid #FBCE74;
  box-shadow: none;
}
.review-section__button {
  display: flex;
  padding: 12px 57px;
  align-items: flex-start;
  background-color: #FBCE74;
  width: 180px;
  border: none;
  font-size: 14px;
  font-family: "Nunito", sans-serif;
  color: #fff;
}
.review-section__button:hover {
  background-color: #0A0A0A;
}

@media (min-width: 768px) and (max-width: 1280px) {
  .review-section {
    margin: 0 50px 130px;
  }
}
@media (min-width: 360px) and (max-width: 768px) {
  .review-section {
    margin: 0 30px 100px;
  }
  .review-section__header > h2 {
    font-size: 32px;
  }
}
@media (max-width: 510px) {
  .review-section__container-rating {
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .review-section__container-rating-radio {
    display: flex;
    flex-grow: 1;
  }
  .review-section__container-rating-radio > input + div {
    flex-basis: 200px;
    flex-grow: 1;
  }
}
@media (max-width: 360px) {
  .review-section {
    margin: 0 20px 100px;
  }
  .review-section__header > h2 {
    font-size: 32px;
  }
}/*# sourceMappingURL=styles.css.map */